@charset "UTF-8";
/*-----------------------------------------*\
                  VARIABLES
\*-----------------------------------------*/
/*COLORS*/
/*COLORS CODE*/
/*TYPOGRAPHY*/
/*CONSTANT*/
/*CONTAINERS*/
/*ESPACED*/
/*BORDERS*/
/*BUTTONS*/
/*ANIMATION*/
/*ICONS*/
/*Z-INDEX*/
/*-----------------------------------------*\
                  MIXINS
\*-----------------------------------------*/
/*-----------------------------------------*\
                 FUNCTIONS
\*-----------------------------------------*/
/*-----------------------------------------*\
              SETTINGS GLOBAL
\*-----------------------------------------*/
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f6f6f6;
}

body,
figure {
  margin: 0;
  padding: 0;
}

.app > div {
  position: relative;
}

/*-----------------------------------------*\
                  CONTAINERS
\*-----------------------------------------*/
.grid-center, .container-general, .header-menu, .hero__container, .course__list, .course__item, .course-class {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center, .icon, .header-menu__list, .hero, .hero-course, .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-general {
  -ms-grid-columns: minmax(auto, 1024px);
      grid-template-columns: minmax(auto, 1024px);
  position: relative;
}

.note {
  background-color: #fef6d0;
  border-left: 5px solid #fae600;
  padding: 0.5rem 1rem;
}

.code {
  background-color: #ededed;
  outline: 0;
  overflow: auto;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -moz-tab-size: 1rem;
    -o-tab-size: 1rem;
       tab-size: 1rem;
  color: #fff;
  background-color: #282c34;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  .container-general {
    padding: 0 1rem;
  }
}

/*-----------------------------------------*\
                  LINKS
\*-----------------------------------------*/
.link {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.link.link-refe {
  color: #009ead;
}

.link:hover {
  color: #fae600;
}

.link-refe:hover {
  color: #fa6900;
}

/*-----------------------------------------*\
                  OVERLAYS
\*-----------------------------------------*/
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*-----------------------------------------*\
                 TYPOGRAPHY
\*-----------------------------------------*/
html,
body {
  font-size: 16px;
  color: #242a2d;
}

h1,
h2,
h3 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

.t-upper {
  text-transform: uppercase;
}

.t-bold {
  font-weight: bold;
}

.t-i {
  font-style: italic;
}

.t-yellow {
  color: #fae600;
}

.note {
  font-size: 0.95rem;
}

/*hero*/
.hero__title {
  font-size: 4rem;
}

.hero__subtitle {
  font-size: 1.3rem;
}

/*cursos*/
.course-class__section--title {
  font-size: 1.8rem;
}

.hero-course__title {
  margin-bottom: 0;
}

@media only screen and (max-width: 636px) {
  html,
  body {
    font-size: 14px;
  }
  h1,
  .hero__title {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .hero-course__title {
    font-size: 2.5rem;
  }
}

/*-----------------------------------------*\
                 BUTTONS
\*-----------------------------------------*/
.btn {
  padding: 8px 25px 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  -webkit-box-shadow: inset 0px -5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px -5px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.btn.btn--blue {
  background-color: #009ead;
}

.btn.btn--blue:hover {
  background-color: #008794;
}

.btn.btn--primary {
  background-color: #fa6900;
}

.btn.btn--primary:hover {
  background-color: #e15e00;
}

/*-----------------------------------------*\
               FONTS ICONS
\*-----------------------------------------*/
.icon {
  background: #ff9548;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
}

.icon.course-class__icon-menu {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 110px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.course-class__icon-menu.is-active {
  border-radius: 0;
  -webkit-transform: translateX(calc(50vw - 10px)) translateY(10px);
          transform: translateX(calc(50vw - 10px)) translateY(10px);
}

@media only screen and (max-width: 768px) {
  .icon.course-class__icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.img-container {
  text-align: center;
  width: 100%;
}

.img-container__image {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .img-container__image {
    width: 70%;
  }
}

/*-----------------------------------------*\
                  HEADER
\*-----------------------------------------*/
.header {
  height: 90px;
  background: #e15e00;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
}

.header > .container-general {
  height: inherit;
}

.header-menu {
  -ms-grid-columns: 200px 1fr 200px;
      grid-template-columns: 200px 1fr 200px;
      grid-template-areas: "menu-left header-menu__logo menu-right";
}

.header-menu__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-menu__list--item {
  list-style: none;
}

.header-menu__logo {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header-menu__logo;
}

.menu-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-left;
}

.menu-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: menu-right;
}

@media only screen and (max-width: 768px) {
  .header {
    height: auto;
  }
  .header-menu {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header-menu__logo header-menu__logo" "menu-left menu-right";
  }
  .header-menu__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header-menu__logo;
  }
  .menu-left {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: menu-left;
  }
  .menu-right {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: menu-right;
  }
  .header-menu__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/*-----------------------------------------*\
                  HERO
\*-----------------------------------------*/
.hero, .hero-course {
  min-height: 450px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#e15e00), to(#ff9548));
  background: linear-gradient(to bottom, #e15e00, #ff9548);
  position: relative;
  margin-top: 90px;
}

.hero__container {
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
      grid-template-areas: "hero__container--titles hero__img" "hero__description hero__img";
}

.hero__container--titles {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero__container--titles;
}

.hero__title {
  margin: 0;
  line-height: 1;
}

.hero__subtitle {
  margin: 0 0 1rem 0;
  letter-spacing: 2px;
  color: #fae600;
  font-weight: bold;
}

.hero__description {
  margin-top: 2rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero__description;
}

.hero__img {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: hero__img;
  overflow: hidden;
}

/*-----------------------------------------*\
              HERO COURSES
\*-----------------------------------------*/
.hero-course {
  min-height: 300px;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .hero__container {
        grid-template-areas: "hero__container--titles hero__container--titles" "hero__description hero__img";
    row-gap: 1rem;
  }
  .hero__container--titles {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: hero__container--titles;
  }
  .hero__description {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: hero__description;
  }
  .hero__img {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: hero__img;
  }
  .hero__img img {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .hero, .hero-course {
    padding-top: 2rem;
    min-height: auto;
  }
  .hero__img {
    display: none;
  }
  .hero__description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

/*-----------------------------------------*\
              COURSES CONTAINER
\*-----------------------------------------*/
.courses {
  padding: 2rem 0;
}

.course__title {
  margin-bottom: 1rem;
}

.course__description {
  margin: 0 0 1rem 0;
}

.course__list {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.course__item {
  -ms-grid-columns: 70px 1fr;
      grid-template-columns: 70px 1fr;
  background: #fff;
  margin-top: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #242a2d;
}

.course__item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.course__item--img {
  text-align: center;
}

.course__item--text {
  padding: 0.5rem 1rem;
}

.course__item--title {
  margin: 0;
  color: #fa6900;
}

.course__item--description {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  .course__list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 1rem;
  }
  .course__item {
    margin-top: 0;
  }
}

/*-----------------------------------------*\
                  FOOTER
\*-----------------------------------------*/
.footer {
  background-color: black;
  height: 100px;
}

.footer__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 1rem 0;
}

/*-----------------------------------------*\
                  COURSE
\*-----------------------------------------*/
.course-class {
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  position: relative;
      grid-template-areas: "menu content";
}

.course-class__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.course-class__left--container {
  position: relative;
  height: 100%;
}

.course-class__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95%;
      grid-template-columns: 95%;
  position: relative;
}

.course-class__menu {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  overflow: auto;
  height: calc(100vh - 180px);
}

.course-class__menu li {
  list-style: none;
  padding: 0.3rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.course-class__menu--a {
  color: #242a2d;
}

.course-class__menu--a:hover {
  color: #fa6900;
}

.course-class__content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  position: relative;
}

/*Estilos de código, para mostrar ejemplos*/
.code-var {
  color: #79b6f2;
}

.code-sym {
  color: #fc929e;
}

.code-function {
  color: #8dc891;
}

.code-text {
  color: #fac863;
}

.code-comment {
  color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 768px) {
  .course-class {
    -ms-grid-columns: 95%;
        grid-template-columns: 95%;
        grid-template-areas: "content";
  }
  .course-class__left {
    background-color: #ff9548;
    z-index: 100;
    width: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .course-class__left.is-active {
    width: 50%;
  }
  .course-class__content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .course-class__menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 95%;
  }
  .course-class__menu--a {
    color: #fff;
  }
}
/*# sourceMappingURL=styles.css.map */