/*-----------------------------------------*\
                 BUTTONS
\*-----------------------------------------*/

.btn {
  padding: $button-padding;
  border-radius: $border-radius-min;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  box-shadow: $button-shadow;
  transition: $animation-transition;
  color: $color-white;

  &.btn--blue {
    background-color: $color-blue;

    &:hover {
      background-color: $color-dark-blue;
    }
  }

  &.btn--primary {
    background-color: $color-orange;

    &:hover {
      background-color: $color-dark-orange;
    }
  }
}
