/*-----------------------------------------*\
                  CONTAINERS
\*-----------------------------------------*/

.grid-center {
  display: grid;
  justify-content: $container-justify;
  align-items: $container-align;
}

.flex-center {
  display: flex;
  justify-content: $container-justify;
  align-items: $container-align;
}

.container-general {
  @extend .grid-center;
  grid-template-columns: minmax(auto, 1024px);
}

.note {
  background-color: $color-light-yellow;
  border-left: 5px solid $color-yellow;
  padding: sum-space(-0.5rem) $padding-base;
}

.code {
  // border: 2px dashed $color-dark-gray;
  background-color: $color-gray-code;
  outline: 0;
  overflow: auto;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  box-sizing: inherit;
  tab-size: $espaced-base;
  color: $color-white;
  background-color: $color-code-black;
  border-radius: $border-radius-min;
}

@media only screen and (max-width: 1024px) {
  .container-general {
    padding: 0 $padding-base;
  }
}
