/*-----------------------------------------*\
                  CONTAINERS
\*-----------------------------------------*/

.grid-center {
  display: grid;
  justify-content: $container-justify;
  align-items: $container-align;
}

.flex-center {
  display: flex;
  justify-content: $container-justify;
  align-items: $container-align;
}

.container-general {
  @extend .grid-center;
  grid-template-columns: minmax(auto, 1024px);
}

@media only screen and (max-width: 1024px) {
  .container-general {
    padding: 0 $padding-base;
  }
}
