/*-----------------------------------------*\
               FONTS ICONS
\*-----------------------------------------*/

.icon {
  @extend .flex-center;
  background: $color-light-orange;
  width: $icon-width;
  height: $icon-height;
  color: $color-white;
  border-radius: 50%;
}

.icon.course-class__icon-menu {
  display: none;
  position: sticky;
  z-index: $index-secundary;
  top: 110px;
  cursor: pointer;
  transition: $animation-transition;
  transform: translateY(10px);
}

.course-class__icon-menu.is-active {
  border-radius: 0;
  transform: translateX(calc(50vw - 10px)) translateY(10px);
}

@media only screen and (max-width: 768px) {
  .icon.course-class__icon-menu {
    display: flex;
  }
}
