/*-----------------------------------------*\
                  LINKS
\*-----------------------------------------*/

.link {
  color: $color-white;
  text-decoration: none;
  transition: $animation-transition;

  &.link-refe {
    color: $color-blue;
  }
}

.link:hover {
  color: $color-yellow;
}

.link-refe:hover {
  color: $color-orange;
}
