/*-----------------------------------------*\
                 TYPOGRAPHY
\*-----------------------------------------*/

html,
body {
  font-size: 16px;
  color: $color-black-font;
}

h1,
h2,
h3 {
  font-family: $font-family-title;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

.t-upper {
  text-transform: uppercase;
}

.t-bold {
  font-weight: bold;
}

.note {
  font-size: 0.95rem;
}

/*hero*/

.hero__title {
  font-size: 4rem;
}

.hero__subtitle {
  font-size: 1.3rem;
}

/*cursos*/

.course-class__section--title {
  font-size: 1.8rem;
}

@media only screen and (max-width: 636px) {
  html,
  body {
    font-size: 14px;
  }

  h1,
  .hero__title {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}
